.flexcol {
    flex-direction: column;
}

#message {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

#login-registration-div {
    margin-top: 50%;
}

// #login-button {
//     margin-bottom: 10px;
// }


