#message {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

#registration-div {
    margin-top: 45%;
}

#profile-registration-div {
    margin-top: 16%;
}
